body {
}

.entry1 {
    margin: 0px 0px 12px 0px;
    padding: 3px;
    font-size: large;
    background-color: lightcyan;
    border-radius: 5px;
    border: 1px solid;
}

.entry2 {
    margin: 0px 0px 0px 5px;
    padding: 7px;
    font-size: large;
    background-color: seashell;
    border-radius: 5px;
    border: 1px solid;
}


.button1 {
    margin: 5px 0px 5px 25px;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
}




/*.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
*/

.label1 {
    font-size: larger;
}


.errorMsg1 {
    color:red; 
    font-weight:bold;
}


.errorMsg2 {
    color: red;
    font-weight: bold;
    border:none;
    
}




/* -----------------------------------------------
 * A nice basic table with thin borders
 * on the cells, light gray background in headers.
 * -----------------------------------------------*/

.tablefmt2 th {
    padding: 10px 10px 5px 10px;
    border: 1px solid grey;
    border-collapse: collapse;
    background-color: lightgray;
}

.tablefmt2 td {
    padding: 5px 10px 5px 10px;
    border: 1px solid grey;
    border-collapse: collapse;
}

.tablefmt2 {
    border: 1px solid black;
    border-collapse: collapse; /*Not needed*/
}


/* -----------------------------------------------
 * A simpler more utiiitarian table
 * with no header shading and thinner outer borders
 * -----------------------------------------------*/

.tablefmt3 th {
    padding: 4px 10px 5px 6px;/* 6px 6px 5px 6px;*/
    border: 1px solid grey;
    border-collapse: collapse;
    background-color:inherit;
}

.tablefmt3 td {
    padding: 2px 10px 3px 6px;  /*4px 10px 4px 10px;*/
    border: 1px solid grey;
    border-collapse: collapse;
}

.tablefmt3 {
    border: 1px solid black;
    border-collapse: collapse; /*Not needed*/
}


/* -----------------------------------------------
 * Put this on a div to get bordered text with rounded 
 * corners and a drop shadow.
 * If you want italics, put <em> around thge text.
 * -----------------------------------------------*/

div.shadowed-text {
    border: 5px;
    box-shadow: 3px 3px 3px 3px;
    border-radius: 10px;
    padding: 10px;
    margin: 30px 0px 50px 0px;
}