body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.entry1 {
    margin: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-size: larger;
    background-color: seashell;
    width: 200px; /* Override this in <style> if nec. */
}

/* This is invisible, but shows bold-red when you set its value to something */
/* You might want to set color and/or width locally */
.ErrorMsg {
    border:none;
    color:red; 
    font-size:larger; 
    font-weight:bold; 
    width:600px;
}

/*----------------------------------*/
/*From my 'Rudamentary CSS' input EN*/
/*----------------------------------*/

.bordered-table1 {
    border: 1px solid black;
    border-collapse: collapse; /*Not needed*/
}

    .bordered-table1 th {
        padding: 5px;
        border: 1px solid black;
        border-collapse: collapse;
        background-color: lightgray;
    }

    .bordered-table1 td {
        padding: 5px;
        border: 1px solid darkgray;
        border-collapse: collapse; 
    }

    .no-border {
        border: 0px;
    }

.no-border-table1 {
    border:0px solid black; 
    border-collapse:collapse;
}

/* suggest to use this w/ 'BS's btn -- class = "btn button1" */
.button1 {
    margin: 5px 0px 5px 25px;
    padding: 6px;
    font-size: large;
    border: 2px solid gray;
    border-radius: 10px;
    width: 150px;
    background-color: lightblue;
}

/*This has small drop shadow*/
/*Syntax: h-offset v-offset blur spread*/
.bordered-div1 {
    border: 10px;
    box-shadow: 1px 1px 5px 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0px 20px 0px;
}

