<div>
   <h2 style="margin: 0px 0px 35px 0px;">Search for players to add to @ViewData["team"]</h2>

   <p /><span class="label1"> Enter start of player's last name...</span>
   <input type="text" id="txtName" class="entry1" style="width:150px;" placeholder="All"/>

   <br /><span class="label1">Year: (1901 to 2020, required)</span>
   <input type="text" id="txtYear" name="txtYear" class="entry1" style="width:80px;" />

   <br /><span class="label1">Team:</span>
   <select id="selTeam" name="selTeam" class="entry1" style="width:200px;">
      <option selected>All</option>
   </select>

   <br /><span class="label1">Position:</span>
   <select id="selPosn" name="selPosn" class="entry1">
      <option selected>All</option>
      <option>p</option>
      <option>c</option>
      <option>1b</option>
      <option>2b</option>
      <option>3b</option>
      <option>ss</option>
      <option>lf</option>
      <option>cf</option>
      <option>rf</option>
      <option>of</option>
      <option>dh</option>
   </select>

   <p /><button id="btnSearch" class="btn btn-primary">Search</button>
   <div id="dvResults" style="border: none; padding: 10px; margin:25px 0px 12px 0px;">
      Click 'Search' to find players
   </div>
   <p /><input id="errMsg" style="border:none; color:red; font-size:larger; font-weight:bold; width:600px;" value="" />

   <p /><input id="btnAddSelected" type="button" class="btn btn-primary" value="Add Selected Players" />
   @Html.ActionLink("Close", "EditTeam", new { user = ViewData["user"], teamID = ViewData["teamID"] }, new { @class = "btn btn-primary" })

   <br />
   <input id="hdnUserName" type="text" style="visibility:hidden" value="@ViewData["user"]" />
   <input id="hdnTeamID" type="text" style="visibility:hidden" value="@ViewData["teamID"]" />

</div>


@section Scripting {
   <script>
      $(document).ready(

         function () {
            //alert("In document.ready");

            $('#btnAddSelected').click(
               function () {
                  //alert('In btnSubmit');
                  let pidList = '', tagList = '', yearList = '', delim = '';
                  $('input.playerSelection:checked').each(
                     function () {
                        //alert('element ' + ', id=' + this.value);
                        //alert(this.tagName);
                        //alert($(this).parent().parent().get(0).tagName);
                        let yr = $(this).parent().parent().find("td.selYear").first().text(); 
                        let tm = $(this).parent().parent().find("td.selTeamTag").first().text();;
                        let id = $(this).parent().parent().find("td.selPlayerID").first().text();
                        pidList += delim + id;
                        tagList += delim + tm;
                        yearList += delim + yr;
                        delim = ',';
                        bc_log(`pidList: ${pidList} tagList: ${tagList} yearList: ${yearList}`);
                     });
                  //alert(`idList=|${idList}|`);
                  let user1 = $('#hdnUserName').val();
                  let team1 = $('#hdnTeamID').val();
                  let url = bc.routePrefix + `Home/AddPlayerToTeamMulti?user=${user1}&teamID=${team1}&pidList=${pidList}&tagList=${tagList}&yearList=${yearList}`;
                  bc_log(`url=${url}`);
                  window.location.href = url;

               }

            );


            $('#txtYear').on('change',
               function () {
                  console.log('In txtYear.change ----------------------------------------------');

                  // First, validate the user's entry...
                  let err = false;
                  let yr = $(this).val();
                  if (isNaN(yr))
                     err = true;
                  else {
                     yr = parseInt(yr);
                     if (yr < 1901 || yr > 2020) err = true;
                  }
                  if (err) {
                     alert('Year must be a number between 1901 and 2020');
                     $("#selTeam").html('<option selected value=All>All</option>');
                     return;
                  }
                  console.log('Year is good: ' + yr);

                  // Next, use ajax to get the dropdown list for the Team dropdown...
                  $.get(
                     bc.routePrefix + 'Home/GetTeamsForYear',
                     { yr: yr },
                     function (ret) {
                        console.log('Ajax returned: ' + ret);
                        let content = '<option selected value=All>All</option>';
                        for (let t of ret) {
                           content += `<option value=${t.Value}>${t.Text}</option>`;
                        }
                        $("#selTeam").html(content);
                     },
                     "json"
                  );
               });


            $('#btnSearch').click(function () {
               //var crit1 = $(this).attr('id');
               //$('#errMsg').css('display','none');
               let critName1 = $('#txtName').val(); if (critName1 == '') critName1 = 'All';
               let critTeam1 = $('#selTeam').val();
               let critYear1 = $('#txtYear').val();
               let critPosn1 = $('#selPosn').val();
               let user1 = $('#hdnUserName').val();
               let team1 = $('#hdnTeamID').val();
               //alert('criteria=' + critName1 + ' bc.routePrefix=' + bc.routePrefix);

               if (critName1 == "All" && critTeam1 == "All" && critPosn1 == "All") {
                  alert("You must specify at least name, team or position");
                  return;
               }

               $.ajax({
                  url: bc.routePrefix + 'Home/SearchMultiJson', type: "GET", dataType: "json",
                  //These become the arg to the Action method.
                  data: {
                     critName: critName1,
                     critTeam: critTeam1,
                     critYear: critYear1,
                     critPosn: critPosn1
                  },
                  success: function (data) {
                     alert(`Returned:${JSON.stringify(data)}`);
                     //alert(JSON.stringify({ test: 'hello', quant: 12 })); So can be any object not just Json!
                     //alert(data[0].PlayerName);
                     content = '<h3>Matching Players...</h3>';
                     //content += '<table id="tblMatching" border="1" cellpadding="5" cellspacing="0" style="border-collapse:collapse">';
                     content += '<table id="tblMatching" class="tablefmt3">';

                     content += '<tr>';
                     content += '<th>Player Name</th>';
                     content += '<th>MLB Team</th>';
                     content += '<th>Year</th>';
                     content += '<th>Positions</th>';
                     content += '<th>Select</th>';
                     //content += '<th></th>'; //player id
                     content += '</tr>'

                     let url;
                     for (let p of data) {
                        content += '<tr>';
                        content += '<td class="selName">' + p.nameLast + '</td>';
                        content += '<td>' + p.teamName + '</td>';
                        content += '<td class="selYear">' + p.yearID + '</td>';
                        content += '<td class="selFieldingString">' + p.FieldingString + '</td>';
                        content += `<td><input type="checkbox" class="playerSelection" value="${p.playerID}"/></td>`;
                        content += '<td class="selPlayerID" style="visibility:hidden">' + p.playerID + '</td>';
                        content += '<td class="selTeamTag" style="visibility:hidden">' + p.teamID + '</td>';
                        content += '<td style="visibility:hidden">' + p.ZPlayerID + '</td>';
                        content += '</tr>';
                     }
                     content += "</table>";

                     console.log("content: " + content);
                     $('#dvResults').html(content);
                  },
                  error: function (xhr, status, error) {
                     alert(xhr.responseText);
                     alert(status);
                     alert(error);
                  }

               })

            })

         });

   </script>
}
