@model BcxbTeamBldr.Models.PlayerListVM

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=Models.PlayerListVM-width" />
    <title>Add Multi-players</title>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bc-global.js"></script>

    <script>
        $(document).ready(function () {

            $('#btnSubmit').click(
               function() {
                  let idList = '', delim = '';
                  $('input.playerSelection:checked').each(
                     function(i, e) {
                        //alert('element ' + i + ', id=' + e.value);
                        idList += delim + e.value;
                        delim = ',';
                     });
                  //alert(`idList=|${idList}|`);
                  let user1 = $('#hdnUserName').val();
                  let team1 = $('#hdnTeamName').val();
                  let url = bc.routePrefix + 'Home/AddPlayerToTeamMulti?user=' + user1 + '&team=' + team1 + '&idList=' + idList;
                  //alert(`url=${url}`);
                  window.location.href = url;

               }
            );


            $('#btnSearch').click(function () {
                //var crit1 = $(this).attr('id');
                //$('#errMsg').css('display','none');
                let critName1 = $('#txtName').val();
                let critTeam1 = $('#selTeam').val();
                let critYear1 = $('#selYear').val();
                let critPosn1 = $('#selPosn').val();
                let user1 = $('#hdnUserName').val();
                let team1 = $('#hdnTeamName').val();
                //alert('criteria=' + critName1 + ' bc.routePrefix=' + bc.routePrefix);

                $.ajax({
                    url: bc.routePrefix + 'Home/SearchMultiJson', type: "GET", dataType: "json",
                    //These become the arg to the Action method.
                    data: {
                        critName: critName1,
                        critTeam: critTeam1,
                        critYear: critYear1,
                        critPosn: critPosn1
                    }, 
                    success: function (data) {
                        alert(JSON.stringify(data));
                        //alert(JSON.stringify({ test: 'hello', quant: 12 })); So can be any object not just Json!
                        //alert(data[0].PlayerName);
                        content = '<h3>Matching Players...</h3>';
                        content += '<table id="tblMatching" border="1" cellpadding="5" cellspacing="0" width="400px" style="border-collapse:collapse">';

                        content += '<tr>';
                        content += '<th>Player Name</th>';
                        content += '<th>MLB Team</th>';
                        content += '<th>Year</th>';
                        content += '<th>Positions</th>';
                        content += '<th>Select</th>';
                        //content += '<th></th>'; //player id
                        content += '</tr>'

                        let url;
                        for (let p of data) {
                            content += '<tr>';
                            content += '<td>' + p.nameLast + '</td>';
                            content += '<td>' + p.teamName + '</td>';
                            content += '<td>' + p.yearID + '</td>';
                            content += '<td>' + p.FieldingString + '</td>';
                            content += `<td><input type="checkbox" class="playerSelection" value="${p.playerID}"/></td>`;
                            content += '<td style="visibility:hidden">' + p.playerID + '</td>';
                            content += '<td style="visibility:hidden">' + p.teamID + '</td>';
                            content += '<td style="visibility:hidden">' + p.ZPlayerIDD + '</td>';
                            content += '</tr>';
                        }
                        content += "</table>";

                        //alert(content);
                        $('#dvResults').html(content);
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                        alert(status);
                        alert(error);
                    }

                })

            })

        })
    </script>
</head>
<body>
    <div>
        <h2>Search for player to add to @Model.UserTeam.TeamName</h2>

        First few characters of player's last name...
        <input type="text" id="txtName" />
        <chec>
        <p />Team:
        <select id="selTeam" name="selTeam">
            <option selected>All</option>
            <option>NYA</option>
            <option>BOS</option>
            <option>KC</option>
        </select>

        <p />Year:
        <select id="selYear" name="selYear">
            <option selected>All</option>
            <option>2019</option>
            <option>2018</option>
        </select>

        <p />Position:
        <select id="selPosn" name="selPosn">
            <option selected>All</option>
            <option>p</option>
            <option>c</option>
            <option>1b</option>
            <option>2b</option>
            <option>3b</option>
            <option>ss</option>
            <option>lf</option>
            <option>cf</option>
            <option>rf</option>
            <option>of</option>
            <option>dh</option>
        </select>

        <p /><button id="btnSearch">Search</button>
        <div id="dvResults">

        </div>
        <p/><input id="errMsg" style="border:none; color:red; font-size:larger; font-weight:bold; width:600px;" value="" />
        <p/><input id="btnSubmit" type="button" value="Add Selected Players" />
        <p/>@Html.ActionLink("Close", "EditTeam", new { user = Model.UserTeam.UserName, team = Model.UserTeam.TeamName })
    </div>
    <br /><input id="hdnUserName" type="text" style="visibility:hidden" value="@Model.UserTeam.UserName" />
    <input id="hdnTeamName" type="text" style="visibility:hidden" value="@Model.UserTeam.TeamName" />
</body>
</html>

