@model BcxbTeamBldr.Models.PlayerListVM

<div>
   <h2>Search for player to add to @Model.UserTeam.TeamName</h2>

   First few characters of player's last name...
   <input type="text" id="txtName"  placeholder="All"/>
   <chec>
      <p />Team:
      <select id="selTeam" name="selTeam">
         <option selected>All</option>
         <option>NYA</option>
         <option>BOS</option>
         <option>KC</option>
      </select>

      <p />Year:
      <select id="selYear" name="selYear">
         <option selected>All</option>
         <option>2019</option>
         <option>2018</option>
      </select>

      <p />Position:
      <select id="selPosn" name="selPosn">
         <option selected>All</option>
         <option>p</option>
         <option>c</option>
         <option>1b</option>
         <option>2b</option>
         <option>3b</option>
         <option>ss</option>
         <option>lf</option>
         <option>cf</option>
         <option>rf</option>
         <option>of</option>
      </select>

      <p /><button id="btnSearch" class="btn button1">Search</button>
      <div id="dvResults">

      </div>
      <p /><input id="errMsg" style="border:none; color:red; font-size:larger; font-weight:bold; width:600px;" value="" />
      <p /><input id="btnSubmit" type="button" class="btn button1" style="width:200px;" disabled="disabled" value="Add Selected Players" />
      @Html.ActionLink("Close", "EditTeam", 
          new { user = Model.UserTeam.UserName, team = Model.UserTeam.TeamName },
          new { @class = "btn button1" })
</div>
<br />
<input id="hdnUserName" type="text" style="visibility:hidden" value="@Model.UserTeam.UserName" />
<input id="hdnTeamName" type="text" style="visibility:hidden" value="@Model.UserTeam.TeamName" />


@section Scripting {
   <script>
      $(document).ready(function () {

         $('#btnSubmit').click(
            function () {
               let idList = '', delim = '';
               $('input.playerSelection:checked').each(
                  function (i, e) {
                     //alert('element ' + i + ', id=' + e.value);
                     idList += delim + e.value;
                     delim = ',';
                  });
               //alert(`idList=|${idList}|`);
               let user1 = $('#hdnUserName').val();
               let team1 = $('#hdnTeamName').val();
               let url = bc.routePrefix + 'Home/AddPlayerToTeamMulti?user=' + user1 + '&team=' + team1 + '&idList=' + idList;
               //alert(`url=${url}`);
               window.location.href = url;

            }
         );


         $('#btnSearch').click(function () {
            //var crit1 = $(this).attr('id');
            //$('#errMsg').css('display','none');
            let critName1 = $('#txtName').val(); if (critName1 == "") critName1 = "All";
            let critTeam1 = $('#selTeam').val();
            let critYear1 = $('#selYear').val();
            let critPosn1 = $('#selPosn').val();
            let user1 = $('#hdnUserName').val();
            let team1 = $('#hdnTeamName').val();
            //alert('criteria=' + critName1 + ' bc.routePrefix=' + bc.routePrefix);

            if (critName1 == "All" && critTeam1 == "All" && critPosn1 == "All") {
               alert("You must specify at least name, team or position");
               return;
            }

            $.ajax({
               url: bc.routePrefix + 'Home/SearchMultiJson', type: "GET", dataType: "json",
               //These become the arg to the Action method.
               data: {
                  critName: critName1,
                  critTeam: critTeam1,
                  critYear: critYear1,
                  critPosn: critPosn1
               },
               success: function (data) {
                  alert(JSON.stringify(data));
                  //alert(JSON.stringify({ test: 'hello', quant: 12 })); So can be any object not just Json!
                  //alert(data[0].PlayerName);
                  content = '<h3>Matching Players...</h3>';
                  content += '<table id="tblMatching" border="1" cellpadding="5" cellspacing="0" width="400px" style="border-collapse:collapse">';

                  content += '<tr>';
                  content += '<th>Player Name</th>';
                  content += '<th>MLB Team</th>';
                  content += '<th>Year</th>';
                  content += '<th>Positions</th>';
                  content += '<th>Select</th>';
                  //content += '<th></th>'; //player id
                  content += '</tr>'

                  let url;
                  for (let p of data) {
                     content += '<tr>';
                     content += '<td>' + p.PlayerName + '</td>';
                     content += '<td>' + p.MlbTeam + '</td>';
                     content += '<td>' + p.Year + '</td>';
                     content += '<td>' + p.PosnString + '</td>';
                     content += `<td><input type="checkbox" class="playerSelection" value="${p.PlayerId}"/></td>`;
                     //url = '"AddPlayerToTeam?user=' + user1 + '&team=' + team1 + '&pid=' + p.PlayerId + '"';
                     content += '<td style="visibility:hidden">' + p.PlayerId + '</td>';
                     content += '</tr>';
                  }

                  content += "</table>";

                  //alert(content);
                  $('#dvResults').html(content);
                  $('#btnSubmit').prop('disabled', false);
               },
               error: function (xhr, status, error) {
                  alert(xhr.responseText);
                  alert(status);
                  alert(error);
               }

            })

         })

      })
   </script>

}



